<h1>Si entre a esta vista</h1>
<form action='/createuser' method="post">
  User name:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="text" name="userpass"><br>
  Email:<br>
  <input type="text" name="useremail"><br><br>
  <input type="submit" value="Register">
</form>
<center><a href="/">Back to index</a></center>