<h1>Esta es la pagina secreta para los usuarios que si estan registrados</h1>
<p>Gracias por iniciar sesión</p>
<h3>Hola <%= @name %></h3> 

<form action='/logout' method="get">
  <input type="submit" value="Logout">
</form>