<!--Pagina para crear nuevo usuario-->
<h1>Crear nuevo usuario</h1>
<form action="/new_user" method="post">
  Nombre:
  <br>
  <input type="text" name="nombre">
  <br>
  Email:
  <br>
  <input type="text" name="email">
  <br>
  Password
  <br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Create User">
</form>